@CHARSET "ISO-8859-1";

.app-menu {
	margin: 0px auto;
	margin-bottom: 15px;
}

.app-menu.perfil-dono {
	width: 600px;
}

.app-menu.perfil-gerente {
	width: 380px;
}

.app-menu.perfil-func-rh {
	width: 355px;
}

.user-info {
	position: absolute;
	right: 10px;
	top: 20px;
}

.user-info a {
	margin-left: 5px;
}

.centralized-form {
	width: 630px;
	margin: 0px auto;
}

.bordered-form {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

#filtrosRelatorio fieldset {
	border: 1px solid #000;
	border-radius: 5px;
}

#dadosRelatorio {
	width: 610px;
}

.titulo-relatorio {
	text-align: center;
	font-size: 18px;
}

.table-report {
    margin-bottom: 20px !important;
    width: 100%;
    border-collapse: collapse;
}

.table-report tbody th {
    text-align: left;
}

.table-report th, .table-report td {
    margin: 0px;
    padding: 5px;
    border: 1px solid #aaa;
}

.link-imprimir {
	position: absolute;
}