@CHARSET "ISO-8859-1";

.app-menu {
	width: 650px;
	margin: 0px auto;
	margin-bottom: 15px;
}

.user-info {
	position: absolute;
	right: 10px;
	top: 20px;
}
.user-info a {
	margin-left: 5px;
}

.centralized-form {
	width: 630px;
	margin: 0px auto;
}

.bordered-form {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
}

.text-center {
	text-align: center;
}